<h1>
    Catalogues
</h1>


<div class="container">
    <div class="row">
        <div class="col">
               
 
                <div class="card bg-dark text-white">
                 
                  <!--Devices List -->
                  <div *ngFor="let catalogue of catalogues"
                       class="list-group-item list-group-item-action"
                       [ngClass]="{'bg-warning text-dark': catalogue.id === active?.id}"
                       (click)="setActive(catalogue)">
                
                       <!--os icon-->
                       <i class="fa" 
                       [ngClass]="{
                           'fa-android': catalogue.os === 'android',     
                           'fa-apple'  : catalogue.os === 'ios',
                           'fa-tablet' : catalogue.os === 'others'  
                        }"
                        ></i>
                    
                        <!--label-->    
                        <i class="fa fa-in"></i>
                        <span>{{catalogue?.catalogueName}}</span>
                 
                    <!--display rate-->
                    <!--...missing...-->
                 
                    <div class="pull-right">
                
                      <!--price 
                      <strong *ngIf="device.price"
                              [style.color]="device.price > 500 ? 'red' : null">
                        € {{device.price | number: '1.2-2'}}
                      </strong>
                      -->
                 
                      <!--trash icon
                      <i class="fa fa-trash icon"
                         (click)="delete($event, device)"></i>
                         -->
                         
                    </div>
                  </div>
                </div>            
        </div>
        <div class="col">
            
            <pre>{{active | json}}</pre>



            <div class="card bg-dark text-white mb-3">
                    <!--edit / add form-->
                    <form novalidate
                          (submit)="save(f)"
                          #f="ngForm"
                          class="card-body">
                   
                          <!--
                      <input type="text"
                             [ngModel]="active?.label"
                             name="label"
                             required
                             class="form-control bg-dark text-white"
                             placeholder="Phone model *"
                             >
                             -->
                   
                      <div class="btn-group btn-group-sm m-1">
                          <!--
                        <button class="btn btn-warning"
                                type="submit"
                                [disabled]="f.invalid">
                          {{active?.id ? 'SAVE' : 'ADD'}}
                        </button>
-->

                        <button
                            class="btn btn-light"
                            type="button"
                            *ngIf="active?.id"
                            (click)="reset()">
                          ADD NEW
                        </button>

                      </div>
                    </form>
                  </div>



            
        </div>
    </div>
</div>

<hr>










<!--
<hr>

<div>
    <table>
        <tr>
            <th>Catalog Number</th>
            <th>Catalogue Name</th>
            <th>Manufacturer</th>
        </tr>
        <tr *ngFor="let catalogue of catalogues">
            <td> {{ catalogue.id }} </td>
            <td> {{ catalogue.catalogueName }} </td>
            <td> {{ catalogue.manufacturer }} </td>            
        </tr>
    </table>
</div>
-->

<!--
<hr />

<li *ngFor="let catalogue of catalogues">{{catalogue.catalogueName}}</li>
-->
